body{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
}
.home-section{
    display: flex;
    background-color: black;
}
.colorized{
    color: #1DDDBD;
}
h3{
    font-size: 40px;
    font-weight: 300px;
}
.Intro-title{
    font-family: 'Silkscreen', cursive;
    font-size: 65px;
    font-weight: 400px;
    color: white;
}
.half-width{
    width: 50%;
    margin: 5%;
}
.half-width img{
    margin-left: 20%;
    height: 800px;
}
p{
    color: white;
    font-size: 18px;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}
a.cv-link{
    text-decoration: none;
    background-color: black;
    border: 2px solid #1DDDBD;
    color: #1DDDBD;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 8px;
}
.about-me{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.colorized-me{
    color: #FB6857;
}
.about-me-text{
    margin-top: 10%;
    margin-left: 15%;
}
p.about-me-details{
    color: #242B2E;
}
h2{
    font-size: 65px;
    font-family: 'Silkscreen', cursive;
}
a.Contact-link{
    text-decoration: none;
    background-color: white;
    border: 2px solid #FB6857;
    color:#FB6857;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 8px;
}
.service-title{
    text-align: center;

}
.services-section{
    background-color: black;
    margin: 0;
    padding: 0;
}
.service-container{
    display: flex;

}
.one-third{
    width: 50%;
    margin: 5%;
    border: #1DDDBD solid 2px;
    box-shadow: 5px 5px 10px #1DDDBD;
    font-size: 16px;
}
#service-heading{
    color: #1DDDBD;
}
h4 span{
    font-size: 25px;
    color: white;
}
.main-heading{
    color: #1DDDBD;
    font-size: 60px;
    text-align: center;
}

#footer-content{
    text-align: center;
    color: #1DDDBD;
    font-weight: 700;
}